# Repository URL for the dotfiles
dotfiles_repo: "https://github.com/your-username/dotfiles.git"

# Directory where the dotfiles will be cloned
dotfiles_dir: "~/dotfiles"

# List of tools to be installed
tools:
  - git
  - stow
  - zsh
  - neovim
  - tmux

# Specific dotfiles or directories to sync
files:
  - .bashrc
  - .zshrc
  - .vimrc
  - .config/nvim